@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');

.character-sheet {
    font-family: 'Cormorant Garamond', serif;
    max-width: 900px;
    margin: auto;
    background: #f5f1e7;
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

/* Nagłówek */
.header {
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.attributes_skills {
    display: grid;
    
    grid-template-columns: 1fr 2fr 2fr;
    gap: 20px;
}

.traits-conteiner {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.5em;
    width: 100%;
}

/* Atrybuty */
/* Atrybuty po lewej */
.attributes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width:100%;
}

.attribute {
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    background: white;
    width: auto;
}

.attribute h2 {
    font-size: 1.2em;
    margin: 0;
}

.attribute p {
    font-size: 1.5em;
    font-weight: bold;
}

.attribute span {
    font-size: 1.5em;
    display: block;
    margin-top: 5px;
}

/* Skille po prawej */
.skills {
    text-align: left;
    width:100%;
    font-size: 1.5em;
    
}



.skills table {
    width: 100%;
    border-collapse: collapse;
}

.skills td {
    border: 1px solid black;
    padding: 5px;
}

/* HP */
.hp-section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 2px solid black;
}

/* Ekwipunek */
.info-box {
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid black;
    background: white;
    border-radius: 5px;
}

.attacks table {
    width: 100%;
    border-collapse: collapse;
}

.attacks td {
    border: 1px solid black;
    padding: 5px;
}

.attacks {
    text-align: left;
    width:100%;
    font-size: 1.5em;
    
}

.death-saves {
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid black;
    background: white;
    border-radius: 5px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: auto;
    max-width: 90%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.edit-item {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.edit-item input {
    flex: 1;
    padding: 5px;
}

.delete-icon {
    color: red;
    cursor: pointer;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.modal-buttons button {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.modal-buttons button:first-child {
    background: gray;
    color: white;
}

.modal-buttons button:last-child {
    background: green;
    color: white;
}

